

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parkinson's Analyzer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body class="flex flex-col min-h-screen bg-gray-200 dark:bg-gray-900">
    <header class="flex items-center justify-center h-20 px-4 bg-blue-900 dark:bg-gray-800">
        <h1 class="text-3xl font-bold text-white dark:text-gray-100">Analizador de Parkinson</h1>
    </header>


    <br />
    <br />
    <br />

    <main class="flex flex-col items-center justify-center flex-grow p-4 space-y-8 text-justify">

        <section class="max-w-2xl p-6 bg-gray-100 rounded-md shadow-lg dark:bg-gray-800">
            <h2 class="text-2xl font-bold text-gray-900 dark:text-gray-100">Sobre el padecimiento de Parkinson</h2>
            <p class="mt-4 text-gray-600 dark:text-gray-400 justify-center">
                Se ha demostrado que la IA es tan efectiva como los humanos en el diagnóstico de diversas afecciones médicas y, en algunos casos, más efectiva. En la actualidad, Enfermedad de Parkinson (EP) es la segunda enfermedad neurodegenerativa más frecuente después de la enfermedad de Alzheimer.
            </p>

            <p class="mt-4 text-gray-600 dark:text-gray-400">
                En México, se estima que existen más de 230,000 personas que padecen de Parkinson y más de 40,000 que están buscando atención médica o algún tratamiento.
            </p>

        </section>


        <a href="~/home/AnalisisIMG" class="whitespace-nowrap ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 flex items-center justify-center gap-2 px-6 py-3 text-lg font-medium text-white bg-blue-700 rounded-md shadow-lg hover:bg-blue-800">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6">
                <polygon points="5 3 19 12 5 21 5 3"></polygon>
            </svg>
            Analizar Imagen
        </a>


        <a download="PlantillasParkinson" href="~/ImagenesPlantillasParkinson/ImagenesPlantillasParkinson.zip"  class="whitespace-nowrap ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 flex items-center justify-center gap-2 px-6 py-3 text-lg font-medium text-white bg-green-700 rounded-md shadow-lg hover:bg-green-900">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6">
                <polygon points="5 3 19 12 5 21 5 3"></polygon>
            </svg>
            Descargar plantillas
        </a>


        <br />
        <br />
        <br />
        <br />
        <br />

        <section class="mb-1 p-6 bg-gray-100 rounded-md shadow-lg dark:bg-gray-800">
            <p class="mt-3 text-gray-600 dark:text-gray-400 justify-center">
                Esta aplicación fue desarrollada en colaboración de estudiantes del ITT junto con el apoyo de docentes a cargo como son DRA. CLAUDIA IBETH GONZALEZ BERRELLEZA y DRA. CYNTHIA IVETTE MIRAMONTES ORTEGA
            </p>


        </section>

    </main>






    <footer class="flex items-center justify-center h-16 px-4 bg-blue-900 dark:bg-gray-800">
        <p class="text-sm text-white dark:text-gray-400">© 2024 Instituto Tecnológico de Tijuana</p>
    </footer>
</body>
</html>
